@import '../../style/mixin.scss';
@import '../../assets//iconfont/iconfont.css';

.tech-container{
  // padding-top: 1.9rem;
  .tech-list{
    @include font(0.9rem, #555);
   .order-header {
     @include font(0.8rem, #555);
     height: 2rem;
     line-height: 2rem;
     .icon-location {
      //  display: inline-block;
       color: rgb(106, 116, 252);
      //  background-color: rgb(106, 116, 252);
       margin-right: 0.5rem;
       width:1rem;
       height:1rem;
      //  border-radius: 1rem
     }
     .icon-arrow-right {
       float:right;
     }
   }
   .top {
    margin-top:1rem;
    border-left:0.09rem solid #3190e8;
    padding-left:0;
    height:2.5rem;
    line-height:2.5rem;
    .time {

    }
    .right {
      height:1.5rem;
    line-height:1.5rem;
      float:right;
    }
   }
  }
}